{%load static%}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{% static 'css/main_user.css' %}">
    {%block xx%}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library</title>
  </head>
  

<body>
    {%block content%}
    {% endblock %}
 
  <div class="Search">
    <form action="#" id="searchForm">
      <input type="text" placeholder="Search by author or book" class="fo" id="searchInput">
      <button type="button" onclick="searchBooks()">Search</button>
    </form>
  </div>



  <div id="content">
    <h2>available books</h2>
    <div class="row1">

      <div class="column1">
        <div class="book-details">

        </div>
      </div>

      <div class="column2">
        <div class="book-details">

        </div>
      </div>

      <div class="column3">
        <div class="book-details">

        </div>
      </div>

      <div class="column4">
        <div class="book-details">

        </div>
      </div>

      <div class="column5">
        <div class="book-details">
        </div>
      </div>

    </div>


    <div class="row2">

      <div class="column1">
        <div class="book-details">

        </div>
      </div>

      <div class="column2">
        <div class="book-details">

        </div>
      </div>

      <div class="column3">
        <div class="book-details">

        </div>
      </div>

      <div class="column4">
        <div class="book-details">

        </div>
      </div>

      <div class="column5">
        <div class="book-details">
        </div>
      </div>
    </div>
    <div class="row3">

      <div class="column1">
        <div class="book-details">

        </div>
      </div>

      <div class="column2">
        <div class="book-details">

        </div>
      </div>

      <div class="column3">
        <div class="book-details">

        </div>
      </div>

      <div class="column4">
        <div class="book-details">

        </div>
      </div>

      <div class="column5">
        <div class="book-details">
        </div>
      </div>
    </div>
    <div class="row4">

      <div class="column1">
        <div class="book-details">

        </div>
      </div>

      <div class="column2">
        <div class="book-details">

        </div>
      </div>

      <div class="column3">
        <div class="book-details">

        </div>
      </div>

      <div class="column4">
        <div class="book-details">

        </div>
      </div>

      <div class="column5">
        <div class="book-details">
        </div>
      </div>
    </div>

  </div>
  <br><br><br>
  <div class="footer">
    <a href="#">Terms of Use</a> &nbsp; &nbsp;
    <a href="#">Privacy Policy</a> &nbsp; &nbsp;
    <a href="#">About the Library</a> &nbsp; &nbsp;
    <a href="#">Contact Us</a> &nbsp; &nbsp;
    <a href="#">Donate to the Library</a> &nbsp; &nbsp;
  </div>

  {%block y%}
  
{%endblock %}
        
    </body>
</html>

    
    