a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav {
    margin: auto;
    padding: 32px;
    background-color: #564335; 
    position: relative;
    display: flex;
  }
  
  .profile,
  .Borrowed,
  .Borrow,
  .signout {
    position: absolute;
    padding: 10px;
    margin: 1px;
    transition-duration: .5ms;
    transition-delay: 15ms;
    transition-property: all;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    top:15px;
  }
  
  .profile:hover,
  .Borrowed:hover,
  .Borrow:hover,
  .signout:hover {
    background-color: #987861; 
  transform: translateY(-3px); 
  }
  
  .profile {
    left: 10px;
  }
  
  .Borrowed {
    left: 160px;
  }
  
  .Borrow {
    left: 360px;
  }
  
  .signout {

    right: 20px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f3e7;
    overflow-x: hidden;
    margin: auto;
   
  }
  
  .Search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: auto;
    
  }
  
  .Search .fo {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .Search button {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #BB9887;
    margin-left: -1px;
  }
  
  .Search button:hover {
    background-color: #e0b5a2;
  }
  
  .Search .fo {
    border-radius: 20px;
    width: 800px;
  }
  
  .Search button {
    border-radius: 20px;
  }
  
  h2 {
    text-align: center;
    margin: auto;
    padding: 50px;
    text-transform: uppercase;
  }
  .row1,
  .row2,
  .row3,
  .row4
  {
    position: relative;
    left: 30px;
  }
 
  
  .column1,
  .column2,
  .column3,
  .column4,
  .column5 {
    background-color: #8080800d;
    box-shadow: 4px 4px 4px white;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    top: 16px;
    background-color: #BB9887;
    transition-duration: 100ms;
    transition-delay: 20ms;
    transition-property: all;
    transition-timing-function: ease;
    display: inline-block;
    margin: 7px;
    left: 35px;
    padding: 40px;
  }
  
  .column1:hover,
  .column2:hover,
  .column3:hover,
  .column4:hover,
  .column5:hover {
    top: -20px;
    margin-top: 10px;
  }
  
  .book-details,
  .column2 p,
  .column3 p,
  .column4 p,
  .column5 p,
  button {
    display: inline;
  }
  
  .column1 button:hover,
  .column2 button:hover,
  .column3 button:hover,
  .column4 button:hover,
  .column5 button:hover {
    background-color: #ddd;
  }
  

  .image-container img,
  .column2 img,
  .column4 img,
  .column3 img,
  .column5 img {
    border-radius: 10px;
  }
  
  
  
 .book-details button
  {
    position: absolute;
    right: 5%;
    bottom: 3%;
    border-radius: 20px;
  }
   
  .book-details p {
    position: absolute;
    left: 20%;
    bottom: 0%;
    border-radius: 20px;
  }
  
  .book-details .ID
   {
    position: absolute;
    top: 2px;
    left: 75px;
   }
  
  .footer {
    position: relative;
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #564335;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
    background-color: #987861;
  }
  