 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', 'sans-serif';
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #564335;
    }

    .box1 {
        display: block;
        position: absolute;
        width: 400px;
        height: 500px;
        box-shadow: 0px 0px 60px #BB9887;
        border-radius: 20px;
        padding: 40px;
        background-color: #987861;
    }

    .box2 {
       display: none; 
        position: absolute;
        width: 700px;
        height: 700px;
        box-shadow: 0px 0px 60px #BB9887;
        border-radius: 20px;
        padding: 40px;
        background-color: #987861;
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: 1s ease-in-out;
    }

    .box1.active .form-wrapper .sign-in {
        transition: 1;
    
    }
    

    .box2.active .form-wrapper.sign-Up {
       transition: 1;
    }

    h1 {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .input-group {
        position: relative;
        margin: 30px 0;
        border-bottom: 2px solid white;
    }

    .input-group label {
        position: absolute;
        top: 10%;
        left: 5px;
        font-size: 17px;
        color: white;
        pointer-events: none;
        transition: .5s;
    }

    .remember {
        justify-content: center;
        margin: -5px 0 15px 5px;
    }

    .remember label {
        color: white;
        font-size: 14px;
    }

    .input-group input {
        width: 320px;
        height: 40px;
        color: white;
        background: transparent;
        border: none;
        outline: none;
    }

    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
    }

    button {
        position: relative;
        width: 100%;
        height: 40px;
        background: #BB9887;
        color: black;
        font-size: 16px;
        cursor: pointer;
        border-radius: 30px;
        border: none;
        outline: none;
    }

    .signup {
        font-size: 14px;
        text-align: center;
        margin: 30px 0;
    }

    .signup p {
        color: white;
    }

    .signup p a {
        color: #E0B5A2;
        text-decoration: none;
        font-weight: 600;
    }

    .signup p a:hover {
        text-decoration: underline;
    }

    .signIn {
        font-size: 14px;
        text-align: center;
        margin: 15px 0;
    }

    .signIn p {
        color: white;
    }

    .signIn p a {
        color: #E0B5A2;
        text-decoration: none;
        font-weight: 600;
    }

    .signIn p a:hover {
        text-decoration: underline;
    }
    .box1:hover{
    animation: animate 7s  linear infinite;
}
.box2:hover{
    animation: animate 7s  linear infinite;
}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);;
    }
}
