body{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.delete-book,.reason{
    background-color: #F3D7CC; /* Light gray background */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inset shadow */
    padding: 10px; /* Padding for spacing */
    font-size: 12px; /* Font size */
    color: #333; /* Dark gray text color */
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    
  }
  
  body {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    line-height: 1.5; 
    margin: 20px; 
    color: #333; 
    margin: 0;
    padding: 0;
  
  }
  
  
  form {
    width: 400px;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    background-color:#BB9887;
  }
  
  
  form label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
  }
  form input[type="submit"] {
    background-color: #564335; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    
  }
  
  form input[type="submit"]:hover {
    background-color: #987861; 
  }