
body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #987861; 
    padding: 20px;
    overflow: auto; 
}

.logo {
    background-color: #987861; 
    max-width: 320px;
    float: right; 
    margin-right: 30px; 
    border-radius: 10px; 
}


#welcome-msg {
    font-size: 40px;
    margin-top: 40px;
    line-height: 2.5; 
    color: black; 
    opacity: 0; 
    animation: fade-in 1s forwards; 
   
    
}
#welcome-msg i {
    color: #F3D7CC; 
   text-align: center;
    font-size: larger;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


nav {
    background-color: #564335; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}

.logo2 {
    max-width: 170px;flex-direction: row-reverse; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav ul a {
    color: #F7F3E7; 
    text-decoration: none;
    display: inline-block; 
    padding: 10px;
    margin-right: 10px; 
    transition: transform 0.2s ease; 
}

nav ul a:hover {
    background-color: #987861; 
    transform: translateY(-3px); }


section {
    padding: 20px;
}
#purpose {
  
    width: 100%;
    background-color: #F7F3E7;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 68%;
}


 #purpose p {
    overflow: hidden;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin-left: 90px;
    margin-bottom: 90px;
    width: 700px;
    position: absolute;
    right: 75px;
    top: 30px;
    border-radius: 10px;
    border-left: 3px solid #564335;
    font-size: 20px;
    padding: 10px;
}

.image {
    float: left;
    margin-right: 30px; 
    border-radius: 10px; 
    max-width:350px; 
    height: auto; 
    display: inline;
    position: absolute;
    top: 90px;
    left: 60px;

}

#reading-list {
    clear: both; 
    background-color: #BB9887;
    padding: 20px;
    text-align: center;
}

#reading-list h2 {
    color: #564335;
}


#reading-list figure {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#reading-list figure img {
    display: block;
    border-radius: 5px;
}

#reading-list figure figcaption {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    transition: bottom 0.3s ease;
}

#reading-list figure .text-container {
    background-color: #f7f7f7; 
    padding: 10px;
    border-radius: 5px;
    font-family: serif;
    opacity: 0; 
    transition : opacity 0.9s ease-in-out; }

#reading-list figure:hover .text-container {
     
    opacity: 1; 
}

#reading-list figure figcaption .text-container b {
    color: #564335; }
#reading-list figure figcaption .text-container p {
    color: #BB9887;
}

#reading-list figure:hover figcaption .text-container {
    display: block; 
}

#reading-list figure:hover {
    transform: translateY(-10px);
}

#reading-list figure:hover figcaption {
    bottom: 0;
}

#about {

    width: 100%;
    background-color: #F7F3E7;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 80%;
}


#about p {
    overflow: hidden;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin-left: 20px;
    width: 750px;
    position: absolute;
    border-radius: 10px;
    border-right: 3px solid #564335;
    font-size: 20px;
    padding: 10px;
}

.imag {
    float: right;
    margin-right: 30px; 
    border-radius: 10px; 
    max-width:500px; 
    height: auto; 
    display: inline;
    position: relative;
    top: 20px;
    left: 0px;

}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #564335; /* Darkest color from the palette */
    color: #F7F3E7; /* Lightest color from the palette */
    padding: 20px;
    
}


footer .copyright {
   text-align: center;
}

footer .contact {
    text-align: left;
    border-left: 2px solid white;
    padding: 10px;

}






